<% @quotes.each do |quote| %>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <% if quote.author %>
          <div class="card-header font-italic">
            by <%= link_to quote.author.full_name, author_path(quote.author) %>
            <% if quote.categories.any? %>
              <div class="mt-2"><%= render quote.categories %></div>
            <% end %>
          </div>
        <% end %>

        <div class="card-body">
          <p class="card-text"><%= truncate(quote.content, length: 100) %></p>
          <%= link_to "View", quote_path(quote), class: "btn btn-outline-success" %>
          <% if user_signed_in? %>
            <%= link_to "Edit", edit_quote_path(quote), class: "btn btn-outline-info" %>
            <%= link_to "Delete", quote_path(quote), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(quote.created_at) %> ago,
            edited <%= time_ago_in_words(quote.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
<% end %>
