<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-body">
          <%= gravatar_for @author, size: 200 %>
          <h4 class="card-text mt-4"><%= simple_format(@author.full_name) %></h4>
          <% if user_signed_in? %>
            <%= link_to "Edit", edit_author_path(@author), class: "btn btn-outline-info" %>
            <%= link_to "Delete", author_path(@author), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @quotes.count > 0 %>
  <hr>
  <h3 class="text-center m-4">Author's quotes</h3>
  <%= will_paginate @quotes, list_classes: %w(pagination justify-content-center) %>
  <div class="container">
    <%= render "quotes/list" %>
  </div>
  <%= will_paginate @quotes, list_classes: %w(pagination justify-content-center) %>
<% end %>
